section.best 
  .best__decoration
  .container
    .section-title 
      h2 Best Selling Coffee
      p A&nbsp;drink from the &lsquo;My Alowishus&rsquo; bottled brews range&nbsp;OR grab one of&nbsp;our delicious coffee&rsquo;s.
    .card-list
      .card-best 
        .card-best__img
          img(src="assets/img/best/double-espresso.png",
            srcset="assets/img/best/double-espresso@2x.png 2x",
            width="186",
            height="308",
            alt="Double Espresso")
        header.card-best__header
          small #1 Selling
          h3.card-best__title Double Espresso
        .card-best__desc Amet minim mollit non deserunt dolor ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.
        .card-best__footer
          span.card-best__price $59.99
          a.btn(href="#") Order now
      
      .card-best 
        .card-best__img
          img(src="assets/img/best/caramel.png",
            srcset="assets/img/best/caramel@2x.png 2x",
            width="186",
            height="308",
            alt="Caramel Frappe")
        header.card-best__header
          small #2 Selling
          h3.card-best__title Caramel Frappe
        .card-best__desc Amet minim mollit non deserunt dolor ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.
        .card-best__footer
          span.card-best__price $59.99
          a.btn(href="#") Order now

      .card-best 
        .card-best__img
          img(src="assets/img/best/iced.png",
            srcset="assets/img/best/iced@2x.png 2x",
            width="186",
            height="308",
            alt="Iced Coffee")
        header.card-best__header
          small #3 Selling
          h3.card-best__title Iced Coffee
        .card-best__desc Amet minim mollit non deserunt dolor ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis.
        .card-best__footer
          span.card-best__price $59.99
          a.btn(href="#") Order now
